html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 4% 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: "Work Sans", sans-serif;
}

a:hover {
  color: #015B7F;
}

img {
  width: 100%;
  display: block;
}

main {
  margin-top: -70px;
  /* Compensate for horizontal lines */
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  color: #dedc7c;
}
h1 span {
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  color: #dedc7c;
}
h1 span {
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

.bg-video-wrap {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  margin-bottom: -50px;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
  background-image: url("../assets/robin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

video {
  min-width: 100%;
  min-height: 70vh;
  z-index: 1;
}

.overlay-head {
  width: 100%;
  height: 100vh;
  /* 70 - 100vh to cover horizontal skew 10deg */
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
  margin-top: -170px;
  /* Remove if no horizontal skew */
}

.title-card {
  height: 100vh;
  /* 70 - 100vh to cover horizontal skew */
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
}

article {
  position: relative;
  top: 35px;
  /* Top positioning for Desktop */
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 999;
}

body.fixed article {
  position: fixed;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #dedc7c;
  font-size: 2.5rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 10px 40px;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
}

@media (max-width: 1024px) {
  video {
    visibility: hidden;
  }
}
h1 {
  font-size: 6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  color: #dedc7c;
}
h1 span {
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

.video-modal,
.video-modal .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
}

.video-modal {
  overflow: hidden;
  position: fixed;
  opacity: 0;
  -webkit-transform: translate(500%, 0%);
          transform: translate(500%, 0%);
  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;
  transition: transform 0s linear 0s, -webkit-transform 0s linear 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.video-modal .overlay {
  z-index: 0;
  background-color: rgba(27, 23, 43, 0.82);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}

.video-modal-content {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  margin: 0 auto;
  overflow-y: visible;
  background: #000;
  width: calc(100% - 12em);
  height: 100%;
  padding-top: calc((100% - 12em) * 0.5625);
  /* 16:9 calc */
}

/* modal close button */
.close-video-modal {
  display: block;
  position: absolute;
  left: 0;
  top: -40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

iframe#youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #000;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

.social-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #000;
}
.social-btn h3 {
  text-align: left;
  font-size: 2rem;
  margin-left: 5px;
}

/* Scaling to fit within the current Viewport size:
When viewport aspect ratio is greater than 16:9 work off the height instead of the width for calc */
/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 900px) {
  .video-modal-content {
    width: calc(100% - 5em);
    padding-top: calc((100% - 5em) * 0.5625);
    /* 16:9 calc */
  }
  .video-modal-content .close-video-modal {
    top: -25px;
  }
}
/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
  .video-modal-content {
    width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625);
    /* 16:9 calc */
  }
  .video-modal-content .close-video-modal {
    top: 0;
    z-index: 2;
  }
}
/* show the modal: add class to the body to reveal */
.show-video-modal .video-modal {
  opacity: 1;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

.show-video-modal .video-modal .overlay {
  opacity: 1;
}

.show-video-modal .video-modal-content {
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

.FB, .TW, .LI, .Copy, .Email {
  color: #fff;
  font-size: smaller;
  width: 200px;
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
}

.FB {
  background-color: #3b5998;
}

.TW {
  background-color: #55acee;
}

.LI {
  background-color: #0B65C2;
}

.Copy, .Email {
  background-color: #fff;
  color: #000;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  color: #dedc7c;
}
h1 span {
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
  -webkit-transform: skewY(10deg);
          transform: skewY(10deg);
}

.content {
  padding: 100px 0;
  border-top: 5px solid white;
}

.diagonal-box {
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
}

.issue-1 {
  background-image: linear-gradient(45deg, #4588A3, #000);
}

.issue-2 {
  background-image: linear-gradient(45deg, #015B7F, #000);
}

.issue-3 {
  background-image: linear-gradient(45deg, #094261, #000);
}

.issue-4 {
  background-image: linear-gradient(45deg, #221F3F, #000);
}

.issue-5 {
  background-color: #000;
}
.issue-5 a {
  margin: 50px 0;
}

.footer-text p {
  margin: 20px;
  font-size: 1.4rem;
}